body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

:root {
  --brand-color: #fff;
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 76px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 156px;
  margin-right: 76px;
}

.header-li {
  display: flex;
  gap: 40px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  text-decoration: none;

  background-color: #fff;
}

.adress-list {
  display: flex;
  gap: 14px;
  margin-right: 156px;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-header {
  color: #2e2f42;
}
.logo a:link {
  text-decoration: none;
}

.logo2 a:link {
  text-decoration: none;
}

.link {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio-li {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio-li:hover {
  color: #404bbf;
}

.studio-li:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}

.adress-header {
  font-style: normal;
}

.mailtel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.mailtel:hover {
  color: #404bbf;
}

.mailtel.mailtel:focus {
  color: #404bbf;
}

.studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio:link {
  text-decoration: none;
}

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
}

.section-one-h {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-one-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.section-one-button:hover {
  background-color: #404bbf;
}

.section-one-button:focus {
  background-color: #404bbf;
}
.section-two {
  padding: 120px 0;
}
.section-two-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-two-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-four {
  background-color: #f4f4fd;
}

.section-four-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-four-li {
  background-color: #ffffff;
}

.section-four-li-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-four-li-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.porfolio-h-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
